@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f38fe4;
  align-items: center;
}
header h1 {
  margin: 1rem;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}
#headerpart3 {
  display: inline-block;
}

/* menuDropdown div */
.menuDropdown {
  position: relative;
  display: inline-block;
}
/* menu icon */
header button {
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: border-color 0.25s;
  background-color: rgb(250, 239, 251);
  text-transform: uppercase;
}
.dropbtn:hover,
.dropbtn:focus,
.headerButton:hover,
.headerButton:focus {
  border-color: #f38fe4;
}
/* menu drop down content (Hidden by Default) */
.dropContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 5px 16px 0px #e8b1de;
  z-index: 1;
  font-size: 1.3rem;
  border-radius: 2rem;
}
.dropContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropContent a:hover,
.dropContent a:focus {
  background-color: rgb(235, 203, 232);
  border-radius: 2rem;
}
/* when menu icon clicked*/
.show {
  display: block;
}

/* gotopbtn */
.gotopbtn {
  font-size: 1.3rem;
  color: rgb(155, 30, 128);
  border: 1px solid #f38fe4;
  padding: 1rem;
  border-radius: 4rem;
  margin: auto;
  position: fixed;
  right: 20px;
  bottom: 2rem;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.gotopbtn:hover {
  background-color: #eccce7;
  transform: scale(1.1);
}
/* footer */
footer {
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  color: rgb(40, 40, 41);
  background-color: rgb(248, 240, 248);
  border-top: 1px solid #f38fe4;
  position: relative;
  width: 100%;
  height: 4.5rem;
  z-index: 1;
}
footer a {
  color: rgb(67, 59, 59);
  height: 60px;
  text-decoration: none;
}
footer a:hover {
  color: #f38fe4;
}

/* main*/
main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* padding to ensure footer doesn't overlap main content */
  padding-bottom: 4.5rem;
  padding: 0 10%;
}
/* Ensuring that the 'main' content doesn't overlap footer */
main::after {
  content: "";
  display: block;
  height: 4.5rem;
}

/* main app */
#app {
  font-family: "Roboto Condensed", serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px solid #f38fe4;
  border-radius: 2rem;
  margin-top: 1rem;
}
#app h2 {
  text-align: center;
}
#messageForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#messageForm input {
  width: 60%;
  padding: 1.3rem;
  margin: 1rem;
  border-radius: 2rem;
  border: 1px solid#e8b1de;
}

#messageForm textarea {
  width: 60%;
  padding: 1.3rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 1px solid#e8b1de;
  height: 7rem;
}
#messageForm button {
  padding: 1rem;
  width: 5rem;
  background-color: #eccce7;
  border-radius: 5rem;
  margin: 0.5rem;
}
